.featured {
    margin-top: 16px;
    overflow: hidden;
}

.NewReleases {

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 16px;
    overflow: auto;
}

.NewReleases::-webkit-scrollbar {
    height: 0px;
    
}

.NewReleases:hover::-webkit-scrollbar {
    height: 0.25em;
    
}

.SeeMore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-bottom: 10px;
}

.SeeMore button {
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 20px;
}

.SeeMore button:hover {
    font-weight: 500;
    color: rgba(37, 50, 160, 1);
    background-color: white;
    cursor: pointer;
}

.carouselContainer {
    margin-bottom: 36px;
}


/* .Backgrond {
    mask-image: conic-gradient(from 180deg at 50% 50%, rgba(196, 196, 196, 0.02) -88.42deg, rgba(196, 196, 196, 0) 0.69deg, rgba(196, 196, 196, 0) 90.28deg, rgba(196, 196, 196, 0.94) 179.32deg, rgba(196, 196, 196, 0.02) 271.58deg, rgba(196, 196, 196, 0) 360.69deg);
    position: absolute;
    display: flex;
    top: 0;
    width: 80%;
    z-index: -1;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.Backgrond img {
    width: 100%;
} */